$item-height: 13em;
$item-width: calc(#{$item-height} * 3/4);
$backdrop-width: calc(#{$item-height} * 2);
$backdrop-height: calc(#{$item-height} * .8);
$margin: 6rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    position: relative;
    background: #000000;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: #fff;
    // align-items: flex-start;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.page-wrapper {
    // width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 900px;
    height: 100vh;
    §   
}

.full-page-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: #fff;
    z-index: -1;
    background: url(imgs/1.jpg) no-repeat bottom/cover #000000;
    opacity: .4;
    filter: blur(30px);
    -webkit-filter: blur(30px);

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgb(9, 61, 75) 0%, #000427 100%);
        opacity: .9;
        mix-blend-mode: multiply;
        ;
    }
}

.category-heading {
    // text-transform: capitalize;
    margin: calc(#{$margin} / 3) 0 ;
    font-size: 1.4rem;
}

.reusable-container {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    margin-left: $margin;
}

.container {
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    margin-left: $margin;
}

.new-releases {
    justify-content: space-between;
    width: calc(100vw - (#{$margin} * 2) );
    flex-wrap: wrap;
    


}

.wrapper {
    position: relative;
    width: $backdrop-width;
    height: calc(#{$item-height}*1.1);
    // border: rgb(183, 201, 255) solid 1px;
    margin-right: calc(#{$backdrop-width}*1.1);
}

.item {
    height: $item-height;
    width: $item-width;
    border-radius: calc(#{$item-height} * .05);
    position: absolute;
    top: 0;
    left: calc(#{$item-height} * .1);
    box-shadow: 5px 5px 25px #00000055;
}

.new-item {
    height: $item-height;
    width: $item-width;
    border-radius: calc(#{$item-height} * .05);
    // position: absolute;
    top: 0;
    left: calc(#{$item-height} * .1);
    box-shadow: 5px 5px 25px #00000055;
}

.item-1 {
    background: url('imgs/1.jpg') no-repeat center/cover;
}

.item-2 {
    background: url('imgs/2.jpg') no-repeat center/cover;
}

.item-3 {
    background: url('imgs/3.jpg') no-repeat center/cover;
}
.item-4 {
    background: url('imgs/4.jpg') no-repeat center/cover;
}
.item-5 {
    background: url('imgs/5.jpg') no-repeat center/cover;
}
.item-6 {
    background: url('imgs/6.jpg') no-repeat center/cover;
}
.item-7 {
    background: url('imgs/7.jpg') no-repeat center/cover;
}
.item-8 {
    background: url('imgs/8.jpg') no-repeat center/cover;
}
.item-9 {
    background: url('imgs/9.jpg') no-repeat center/cover;
}

.backdrop-wrapper {
    width: $backdrop-width;
    height: $backdrop-height;
    overflow: hidden;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    // border: rgb(183, 201, 255) solid 1px;
}

.backdrop {
    width: $backdrop-width;
    height: $backdrop-height;
    filter: blur(39px);
    -webkit-filter: blur(39px);
}

.backdrop-1 {
    background: url('imgs/1.jpg') no-repeat center/cover;
}

.backdrop-2 {
    background: url('imgs/2.jpg') no-repeat center/cover;
}

.backdrop-3 {
    background: url('imgs/3.jpg') no-repeat center/cover;
}

.text {
    position: absolute;
    z-index: 20;
    font-size: 1rem;
    color: #fff;
}