* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  position: relative;
  background: #000000;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 900px;
  height: 100vh;
}

.full-page-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  color: #fff;
  z-index: -1;
  background: url(imgs/1.jpg) no-repeat bottom/cover #000000;
  opacity: .4;
  filter: blur(30px);
  -webkit-filter: blur(30px);
}

.full-page-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#093d4b), to(#000427));
  background: linear-gradient(to top, #093d4b 0%, #000427 100%);
  opacity: .9;
  mix-blend-mode: multiply;
}

.category-heading {
  margin: calc(6rem / 3) 0;
  font-size: 1.4rem;
}

.reusable-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 6rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  margin-left: 6rem;
}

.new-releases {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100vw - (6rem * 2));
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  position: relative;
  width: calc(13em * 2);
  height: calc(13em*1.1);
  margin-right: calc(calc(13em * 2)*1.1);
}

.item {
  height: 13em;
  width: calc(13em * 3/4);
  border-radius: calc(13em * .05);
  position: absolute;
  top: 0;
  left: calc(13em * .1);
  -webkit-box-shadow: 5px 5px 25px #00000055;
          box-shadow: 5px 5px 25px #00000055;
}

.new-item {
  height: 13em;
  width: calc(13em * 3/4);
  border-radius: calc(13em * .05);
  top: 0;
  left: calc(13em * .1);
  -webkit-box-shadow: 5px 5px 25px #00000055;
          box-shadow: 5px 5px 25px #00000055;
}

.item-1 {
  background: url("imgs/1.jpg") no-repeat center/cover;
}

.item-2 {
  background: url("imgs/2.jpg") no-repeat center/cover;
}

.item-3 {
  background: url("imgs/3.jpg") no-repeat center/cover;
}

.item-4 {
  background: url("imgs/4.jpg") no-repeat center/cover;
}

.item-5 {
  background: url("imgs/5.jpg") no-repeat center/cover;
}

.item-6 {
  background: url("imgs/6.jpg") no-repeat center/cover;
}

.item-7 {
  background: url("imgs/7.jpg") no-repeat center/cover;
}

.item-8 {
  background: url("imgs/8.jpg") no-repeat center/cover;
}

.item-9 {
  background: url("imgs/9.jpg") no-repeat center/cover;
}

.backdrop-wrapper {
  width: calc(13em * 2);
  height: calc(13em * .8);
  overflow: hidden;
  border-radius: 25px;
  position: absolute;
  bottom: 0;
  background: black;
}

.backdrop {
  width: calc(13em * 2);
  height: calc(13em * .8);
  filter: blur(39px);
  -webkit-filter: blur(39px);
}

.backdrop-1 {
  background: url("imgs/1.jpg") no-repeat center/cover;
}

.backdrop-2 {
  background: url("imgs/2.jpg") no-repeat center/cover;
}

.backdrop-3 {
  background: url("imgs/3.jpg") no-repeat center/cover;
}

.text {
  position: absolute;
  z-index: 20;
  font-size: 1rem;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */