* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  position: relative;
  background: #000000;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.new-container {
  width: calc(13em * 2);
  height: calc(13em*1.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 calc(13em * .1);
}

.new-container:before {
  content: '';
  position: absolute;
  left: 0;
  width: calc(13em * 2);
  height: calc(13em * .8);
  margin-top: calc(calc(13em*1.1) - calc(13em * .8));
  border-radius: 25px;
  filter: blur(39px);
  -webkit-filter: blur(39px);
  -webkit-clip-path: inset(0 0 0 0 round 25px);
  clip-path: inset(0 0 0 0 round 25px);
}

.new-container.first:before {
  background: url("imgs/1.jpg") no-repeat center/cover;
}

.new-container.second:before {
  background: url("imgs/2.jpg") no-repeat center/cover;
}

.new-container.third:before {
  background: url("imgs/3.jpg") no-repeat center/cover;
}

.movie-info-wrapper {
  text-transform: capitalize;
  z-index: 100;
  width: calc(calc(13em * 2) - calc(13em * 3/4) -(13em * .2 ));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.movie-info {
  height: calc(13em * .8);
  padding: 1rem;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movie-info h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.movie-info p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.action-buttons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.action-buttons .rating, .action-buttons .read-more, .action-buttons .trailer {
  cursor: pointer;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 900px;
  height: 100vh;
}

.full-page-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  color: #fff;
  z-index: -1;
  background: url(imgs/1.jpg) no-repeat bottom/cover #000000;
  opacity: .8;
  filter: blur(30px);
  -webkit-filter: blur(30px);
}

.full-page-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#093d4b), to(#000427));
  background: linear-gradient(to top, #093d4b 0%, #000427 100%);
  opacity: .9;
  mix-blend-mode: multiply;
}

.category-heading {
  margin: calc(5rem / 3) 0;
  font-size: 1.4rem;
}

.reusable-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 5rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

.new-releases {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100vw - (5rem * 2));
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  position: relative;
  width: calc(13em * 2);
  height: calc(13em*1.1);
  margin-right: calc(calc(13em * 2)*1.1);
}

.item {
  display: inline-block;
  height: 13em;
  width: calc(13em * 3/4);
  border-radius: calc(13em * .05);
  z-index: 200;
  top: 0;
  -webkit-box-shadow: 5px 5px 25px #00000055;
          box-shadow: 5px 5px 25px #00000055;
}

.new-item {
  height: 13em;
  width: calc(13em * 3/4);
  border-radius: calc(13em * .05);
  top: 0;
  left: calc(13em * .1);
  -webkit-box-shadow: 5px 5px 25px #00000055;
          box-shadow: 5px 5px 25px #00000055;
}

.item-1 {
  background: url("imgs/1.jpg") no-repeat center/cover;
}

.item-2 {
  background: url("imgs/2.jpg") no-repeat center/cover;
}

.item-3 {
  background: url("imgs/3.jpg") no-repeat center/cover;
}

.item-4 {
  background: url("imgs/4.jpg") no-repeat center/cover;
}

.item-5 {
  background: url("imgs/5.jpg") no-repeat center/cover;
}

.item-6 {
  background: url("imgs/6.jpg") no-repeat center/cover;
}

.item-7 {
  background: url("imgs/7.jpg") no-repeat center/cover;
}

.item-8 {
  background: url("imgs/8.jpg") no-repeat center/cover;
}

.item-9 {
  background: url("imgs/9.jpg") no-repeat center/cover;
}

.backdrop-wrapper {
  width: calc(13em * 2);
  height: calc(13em * .8);
  overflow: hidden;
  border-radius: 25px;
  position: absolute;
  bottom: 0;
  background: black;
}

.backdrop {
  width: calc(13em * 2);
  height: calc(13em * .8);
  filter: blur(39px);
  -webkit-filter: blur(39px);
}

.backdrop-1 {
  background: url("imgs/1.jpg") no-repeat center/cover;
}

.backdrop-2 {
  background: url("imgs/2.jpg") no-repeat center/cover;
}

.backdrop-3 {
  background: url("imgs/3.jpg") no-repeat center/cover;
}

.text {
  position: absolute;
  z-index: 20;
  font-size: 1rem;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */